
.select2-container--default .select2-selection--single {
    padding: 7px;
    padding-bottom: 28px;
    border: 1px solid #31343940;
}

.menuLineUp{
    border-top: 1px solid black;   
}

#myTab{
    border-bottom: 1px solid black;
    margin-bottom: 12px; 
}

.link-menu{
    font-weight: bold;
    /* background-color: #007bffb3; */
    
}

.datatables {
    width: 100%;
    text-align: center;
}

.widget-user .card-footer{
    padding-top: 0px;
}

.card-body .menu{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 0px;
}
/* .card-img-top{
    width: 88%;
} */
